.back{
    text-decoration: none;
    color: black;
}
.back:hover{
    text-decoration: underline;
}
table{
    margin-top: 15px;
    margin-left: 10px;
    border-collapse: collapse;
    width: auto;
}
th{
    text-align: left;
}
td{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 6px;
}
tr:first-child td{
    border-left:none;
}
tr:last-child td{
    border-right:none;
}
.data{
    color: black;
}
.data:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.files{
    text-decoration: none;
    color: black;
}
.files:hover{
    color: #0000ff;
    text-decoration: underline;
}