.back{
    text-decoration: none;
    color: black;
}
.back:hover{
    text-decoration: underline;
}
table{
    border-collapse: collapse;
    width: 40%;
}
th, td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
tr:first-child td{
    border-left:none;
}
tr:last-child td{
    border-right:none;
}
.files{
    text-decoration: none;
    color: black;
}
.files::after{
    color: #0000ff;
    text-decoration: underline;
}
.files:hover::after{
    width: 100%;
}