body{
    background-color: rgba(255, 228, 196, 0.681);
}
.back{
    text-decoration: none;
    color: black;
}
.back:hover{
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 170vh;
    
}
.image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}
.info{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.info h3{
    margin-bottom: 0;
}
.logout{
    text-decoration: none;
    color: red;
}
.logout:hover{
    color: rgb(205, 0, 0);
}