<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel = "stylesheet" href = "/static/css/profile.css">
</head>
<body>
    <a href = "/" class = "back">&larr; Back</a>
    <div class = "container">
        <img src = "{{ user['picture'] }}" alt = "Profile-pic" class = "image">
        <div class = "info">
            <h3>{{ user["name"] }}</h3>
            <p>{{ user["email"] }}</p>
        </div>
    </div>
    <a href = "/logout" class = "logout">Logout</a>

</body>
</html>